[Unit]
Description=Dashsniffer
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/MAC2C8Y
ExecStart=/usr/bin/python /home/pi/MAC2C8Y/listener.py
Restart=always

[Install]
WantedBy=multi-user.target
